<!doctype html>
<html>
  <head>
   <title>Welcome page</title>
     

</head>
<body>
<br>
<div class="center jumbotron">
  <h1 class="display-4">Alpha Blog</h1>
  <p class="lead">This is a web application that has to do with provision of necessary information to undergraduate students and applicants and it also has a blog post for daily news.</p>
  <hr class="my-4">
  <p class="my-3">When you are not informed , you are deformed and when deformed you definitely cannot perform.</p>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge", :html => {role: "button"} %>
</div>
	<%= render "layouts/footer" %>
</body>