
@import "bootstrap";
.lead{
color:white;
text-align:center;
text-size:15px;
}
.my-3{
color:white;
text-align:center;
text-size:15px;
}
.btn-xlarge{
font-size:1.7em;

}
.green-t{
margin-top:10px;
}
.errormessages{
min-height:100px;
width:70%;
background-color:#456373;

color:white;


}
.align{
text-align:center;
color:lightblue;
font-size:70px;
}
.flashmessage{

min-height:30px;
background-color:black;
color:white;
}
.align2{
color:lightblue;
text-align:center;
}

.show{
margin-top:30px;
width:100%;
color:black;
min-height:300px;

}
.articleactions{
width:100%;
min-height:50px;
margin-top:250px;
margin-left:250px;

}
.article-description{
font-size:20px;
padding-top:20px;
}
.align3{
background-color:#456373;

}
.articleactions2{
width:100%;
min-height:50px;


}
.article-title{
font-weight:bold;
font-size:30px;
}
.article-title2{
font-weight:bold;
font-size:30px;
border-top:1px solid #456373;
}
.article-body{
border-top:1px solid #456373;
padding-top:10px;
padding-bottom:10px;
}
.well{
min-height:150px;
width:100%;
background-color:milk;

}
#float{
float:right;
}
.close{
color:white;}
.white{
color:white;
align:left;
}
#white{

color:white;}
.article-meta-details{
margin-top:15px;
border-top:2px solid lightblue
}
.align4{
text-align:center;
}
.align5{

font-size:70px;
padding-left:230px;
}
.well2{
margin-left:200px;
margin-right:200px;
margin-top:50px;
background-color:lightblue;
min-height:200px;
}
.center{
text-align:center;}

.usersindex{
list-style:none;
min-height:100px;
width:70%;
text-align:center;
background-color:lightblue;
padding-top:50px;
margin:auto;
padding-bottom:50px;
margin-top:50px;
}
.articlecategries{
height:10px;
background-color:white;
display:inline;
text-align:center;

margin:1px;
}
